.Rproj.user
.Rhistory
.RData
/revdep
/src/*.o
/src/unix/*.o
/src/win/*.o
/src/supervisor/supervisor
/src/supervisor/supervisor.exe
/src/supervisor/supervisor.dSYM
/src/tools/px
/src/tools/px.exe
/src/tools/px.dSYM
/src/callr.so
/README.html
Meta
/r-packages
/docs
/dev-lib
/README_files
/vignettes/*.md
/vignettes/*.html
/vignettes/*_files
/man/_cache
/README_CACHE
/.dev
